* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #642a73;
    text-align: center;
    font-size: 30px;
    margin-bottom: 60px;
}
.bg-nav, #footer {
    background-color: #183b63 !important;
}

.btn-outline-secondary {
    color: #ffffff;
    border-color: #ffffff;
}

.text-muted {
    color: #d1d1d1 !important;
}

.btn-outline-secondary:hover {
    color: #000;
    background-color: #ffe00b;
    border-color: #ffe00b;
}

#footer{
    margin-bottom: -10px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
} 

#footer .social-links {
    margin:0 0 40px 0;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #edc128;
    color: #183b63;
    line-height: 1;
    padding: 10px 0;
    margin-right: 5px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
#footer .social-links a:hover {
    background: #d9b123;
    color: #fff;
    text-decoration: none;
}