* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
#header, #footer {
    background-color: #183b63 !important;
}

/*--------------------------------------------------------------
# MENU
--------------------------------------------------------------*/
.navbar{
    padding: 0.5rem 0!important;
}

.navbar-nav .nav-link  {
    font-size: 18px!important;
}

.text-muted {
    color: #acacac !important;
}

.btn-outline-secondary:hover {
    color: #000;
    background-color: #ffe00b;
    border-color: #ffe00b;
}

/*--------------------------------------------------------------
# AVATAR
--------------------------------------------------------------*/


.avatar-sm {
    font-size: .860rem;
    width: 36px;
    height: 36px;
}
.avatar {
    font-size: 1rem;
    display: inline-flex;
    width: 38px;
    height: 38px;
    color: #fff;
    border-radius: .375rem;
    background-color: #adb5bd;
    align-items: center;
    justify-content: center;
}

.navbar:not(.navbar-nav-hover) .dropdown-menu.show {
    animation: show-navbar-dropdown .25s ease forwards;
    pointer-events: auto;
    opacity: 1;
}
.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute !important;
}
.navbar .dropdown-menu {
    position: absolute !important;
    margin: 0;
    pointer-events: none;
    opacity: 0;
}
.dropdown-menu.show {
    display: block;
}
.dropdown-menu {
    min-width: 12rem;
}
.dropdown-menu-right {
    right: 0;
    left: auto;
}
.dropdown-menu {
    font-size: 1rem;
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0;
    display: none;
    float: left;
    min-width: 10rem;
    margin: .125rem 0 0;
    padding: .5rem 0;
    list-style: none;
    text-align: left;
    color: #525f7f;
    border: 0 solid rgba(0,0,0,.15);
    border-radius: .4375rem;
    background-color: #d8dde4;
    background-clip: padding-box;
    box-shadow: 0 50px 100px rgba(50,50,93,.1),0 15px 35px rgba(50,50,93,.15),0 5px 15px rgba(0,0,0,.1);
}

.dropdown-menu .dropdown-item {
    font-size: .875rem;
    padding: .5rem 1rem;
}
.dropdown-item {
    font-weight: 400;
    display: block;
    clear: both;
    width: 100%;
    padding: .5rem 1rem;
    text-align: inherit;
    white-space: nowrap;
    color: #183b63;
    border: 0;
    background-color: transparent;
}

.dropdown-menu .dropdown-item > i  {
    font-size: 1rem;
    margin-right: 1rem;
}

@media (max-width: 768px) {
  .dropdown-menu-right {
    right: 5px;
    left: auto;
}
}
/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/

#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/inicio-bg.jpg") top center;
  background-size: cover;
  position: relative;
  margin-bottom: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 20px 0 30px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -1px 0 2px #2f4d5a;
}

#hero img {
  margin-top: 40px;
}

#hero .btn-get-started {
  font-size: 36px;
  display: inline-block;
  padding: 4px 0;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
  margin: 10px;
  width: 64px;
  height: 64px;
  text-align: center;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  padding-top: 8px;
  background: rgba(255, 255, 255, 0.15);
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #d8dde4;
}

.section-title {
  text-align: left;
  padding-bottom: 30px;
}

.section-title-2 {
  text-align: center;
  padding-bottom: 20px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  position: relative;
  margin-bottom: 30px;
  color: #183b63;
  z-index: 2;
}

.section-title h2::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 122px;
  height: 66px;
  background: url(../img/section-title-bg.png) no-repeat;
  z-index: -1;
}

.section-title p {
  margin-bottom: 0;
}

.separador {
    border-top: 1px solid rgba(56, 91, 107, 0.3);
    text-align: center;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  background: url("../img/") center center no-repeat;
  background-size: cover;
  padding: 60px 0;
  position: relative;
}

.about::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.70);
  z-index: 9;
}

.about .container {
  position: relative;
  z-index: 10;
}

.about .content {
  padding: 30px 30px 30px 0;
}

.about .content h3 {
  font-weight: 700;
  font-size: 34px;
  color: #2f4d5a;
  margin-bottom: 30px;
}

.about .content p {
  margin-bottom: 30px;
}

.about .content .about-btn {
  display: inline-block;
  background: #67b0d1;
  padding: 6px 44px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: 0.3s;
  position: relative;
}

.about .content .about-btn i {
  font-size: 18px;
  position: absolute;
  right: 18px;
  top: 9px;
}

.about .content .about-btn:hover {
  background: #7bbad7;
}

.about .icon-boxes .icon-box {
  margin-top: 30px;
}

.about .icon-boxes .icon-box i {
  font-size: 40px;
  color: #67b0d1;
  margin-bottom: 10px;
}

.about .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.about .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}

@media (max-width: 1200px) {
  .about .content {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .about {
    text-align: center;
  }
}

/*--------------------------------------------------------------
# Salidas
--------------------------------------------------------------*/

.salida .content ul {
  list-style: none;
  padding: 0;
}

.salida .content ul li {
  padding-left: 28px;
  position: relative;
}

.salida .content ul li + li {
  margin-top: 10px;
}

.salida .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #183b63;
  line-height: 1;
}

.salida .content p:last-child {
  margin-bottom: 0;
}

.salida .content .btn-learn-more {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 1;
  color: #183b63;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #183b63;
}

.salida .content .btn-learn-more:hover {
  background: #2864a8;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/

.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 0;
  margin: 30px 15px;
  text-align: center;
  min-height: 350px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  background: #fff;
}

.testimonials .testimonial-item .testimonial-conten {
    padding: 36px ;
    text-align: center;
}

.testimonials .testimonial-item .testimonial-img {
  width: 100%;
  height: 200px;
}


.testimonials .testimonial-item .testimonial-img img{
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
  border: 4px solid #fff;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #66ffd6;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

.testimonials .owl-nav, .testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.testimonials .owl-dot.active {
  background-color: #009970 !important;
}

@media (max-width: 767px) {
  .testimonials {
    margin: 30px 10px;
  }
}

.margin-leftright-null {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.meta {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding-bottom: 18px;
}

.category {
    padding: 18px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: -15px;
    margin-left: -15px;
}
.testimonial-conten a.link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #ecf5f9;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #2f4d5a;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #67b0d1;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  font-size: 28px;
  text-align: center;
  transition: 0.3s;
  width: 50%;
}

.portfolio .portfolio-wrap .portfolio-links a + a {
  border-left: 1px solid #8ec4dd;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 45%;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 30px;
}

.portfolio-details .portfolio-details-container {
  position: relative;
}

.portfolio-details .portfolio-details-carousel {
  position: relative;
  z-index: 1;
}

.portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: left;
}

.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: #67b0d1 !important;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  position: absolute;
  right: 0;
  bottom: -70px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 50px;
}

.portfolio-details .portfolio-description h2 {
  width: 50%;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0 0 0 0;
}

@media (max-width: 768px) {
  .portfolio-details .portfolio-description h2 {
    width: 100%;
  }
  .portfolio-details .portfolio-info {
    position: static;
    margin-top: 30px;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-bottom: 80px;
}

.contact .info-box {
  color: #444444;
  background: #fff;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
}

.contact .info-box i {
  font-size: 32px;
  color: #183b63;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #f0f7fa;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  background: #fff;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input::focus, .contact .php-email-form textarea::focus {
  background-color: #67b0d1;
}

.contact .php-email-form input {
  padding: 20px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #183b63;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #0062cc;
}



/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/

#footer{
    margin-bottom: -10px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
} 

#footer .social-links {
    margin:0 0 40px 0;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #edc128;
    color: #183b63;
    line-height: 1;
    padding: 10px 0;
    margin-right: 5px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
#footer .social-links a:hover {
    background: #d9b123;
    color: #fff;
    text-decoration: none;
}


/*--------------------------------------------------------------
# PERFIL USURIO
--------------------------------------------------------------*/
.perfil{
    
    padding: 60px 0;
}

.picture-container{
    text-align: left;
}
.picture{
    width: 106px;
    height: 106px;
    background-color: #183b63;
    border: 4px solid #183b63;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 15px 0 0 0;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.content.ct-wizard-green .picture:hover{
    border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover{
    border-color: #3472f7;
}
.content.ct-wizard-orange .picture:hover{
    border-color: #ff9500;
}
.content.ct-wizard-red .picture:hover{
    border-color: #ff3b30;
}
.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-src{
    width: 100%;
    height: 100%;
    
}

.card-toolbar{
    
    text-align: right;
    padding-bottom: 15px;
}


.table .thead-dark th {
    color: #fff;
    background-color: #183b63;
    border-color:#1f4f84;
}

.table thead th {
    vertical-align:  initial;
}
.table td, .table th {
    vertical-align: middle;
}

.hiddenRow {
    padding: 0 !important;
}


/*--------------------------------------------------------------
# Pagina salida
--------------------------------------------------------------*/
  .resumen-salida {
    text-align:  left;
    margin-top: 20px;
}

.resumen-salida p  {
  margin: 20px 0; 
}

.iconos-salida{
        text-align: right!important;
    }

.descripcion-salida p  {
  margin: 50px 0;
}

.iconos-caracteristicas {
  list-style: none;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  max-width: 600px;
}

.iconos-caracteristicas li {
  /* flex: 1; */
  display: flex;
}
.iconos-caracteristicas li img {
  margin-right: 2rem;
}

/*--------------------------------------------------------------
# HEADER 2
--------------------------------------------------------------*/

#hero2  img{
  width: 100%;
  height: 60vh;
  margin-bottom: 0;
  object-fit: cover;
  object-position: center center;
     filter: blur(1.5px);
}

#hero2 .hero2-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero2 h1 {
  margin: 0 0 40px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -1px 0 2px #2f4d5a;
}

#hero2 img {
  margin-top: 40px;
}

#hero2 .btn-get-started {
  font-size: 36px;
  display: inline-block;
  padding: 4px 0;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
  margin: 10px;
  width: 64px;
  height: 64px;
  text-align: center;
  border: 2px solid #fff;
  color: #fff;
}

#hero2 .btn-get-started:hover {
  padding-top: 8px;
  background: rgba(255, 255, 255, 0.15);
}

@media (min-width: 1024px) {
  #hero2 {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
    
    #hero2{
        padding: 60px 0 0 0;
    }
    
    .hero2-container{
     position:relative;   
    }
    .iconos-salida{
        text-align: center !important;
    }
    
    #hero2 img {
  height:30vh;
 }
    
  #hero2 h1 {
    font-size: 28px;
    line-height: 36px;
    margin-top: -250px;
  }
}

/*--------------------------------------------------------------
# FORMULARIOS
--------------------------------------------------------------*/
.bg-form{
    background-color: #d8dde4;
}


.salida-form{
    margin-top: 90px!important;
    width: 50%;
    margin: 0 auto ;
}

.borde{
    
    background-color: #fff;
background-clip: border-box;
border: 1px solid rgba(0,0,0,.125);
border-radius: .25rem;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-primary {
    color: #fff;
    background-color: #183b63;
    border-color: #183b63;
}

.form-signin .not {
    text-align: left;
    padding-top: 15px;
}
@media (max-width: 768px) {
    
    .salida-form{
    margin-top: 70px!important;
    width: 100%;
}
    
}


input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}