<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Incio de sesión - Club Equinoccio</title>
    <link href="assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/login.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <form class="form-signin" th:action="@{/login}" method="POST">
  <img class="mb-4" src="assets/img/icono_preview_rev_1.png" alt="" width="150" height="150">
  <h4 class="h3 mb-3 font-weight-normal">Por favor inicie sesión</h4>
  <label for="inputEmail" class="sr-only">Usuario</label>
  <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Usuario o  Correo" required autofocus>
  <label for="inputPassword" class="sr-only">Contreseña</label>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Contreseña " required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Recuérdame
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
  <p class="not">No tienes cuenta, <a th:href="@{/register}">Registrate</a></p>
  <p class="mt-5 mb-3 text-muted">&copy; Club Equiniccio 2020</p>
</form>
</body>
</html>
